<?xml version="1.0" encoding="UTF-8"?>
<plugin title="pentaho-helloworld-plugin">
	
	<static-paths>
		<static-path url="/pentaho-helloworld-plugin/pentaho-helloworld-jsapp-namespace" localFolder="pentaho-helloworld-jsapp-namespace"/>
	</static-paths>

	<perspective id="pentaho-helloworld-plugin.perspective" title="${title}" layout-priority="-1"
               resourcebundle="content/pentaho-helloworld-plugin/pentaho-helloworld-jsapp-namespace/lang/messages" content-url="content/pentaho-helloworld-plugin/pentaho-helloworld-jsapp-namespace/main.html">
	</perspective>  

	<content-generator scope="local" id="pentaho-helloworld" type="PentahoHelloWorldContentGenerator" url="">
        <classname>org.pentaho.helloworld.PentahoHelloWorldContentGenerator</classname>
        <title>Pentaho Hello World</title>
    </content-generator>

</plugin>
