<?xml version="1.0" encoding="UTF-8"?>
<plugin title="pentaho-helloworld-plugin"> <!-- plugin-id =? ivy.artifact.id -->
	
	<!--<lifecycle-listener class="org.pentaho.marketplace.MarketplaceLifeCycleListener"/>-->
	<static-paths>
		<static-path url="/pentaho-helloworld-plugin/pentaho-helloworld-jsapp-namespace" localFolder="pentaho-helloworld-jsapp-namespace"/>
	</static-paths>

	<perspective id="pentaho-helloworld-plugin.perspective" title="${title}" layout-priority="-1"
               resourcebundle="content/pentaho-helloworld/pentaho-helloworld-jsapp-namespace/lang/messages" content-url="content/pentaho-helloworld/pentaho-helloworld-jsapp-namespace/helloworld.html">
	</perspective>  

	<!--<content-generator scope="local" id="marketplace" type="MarketplaceContentGenerator" url="">
        <classname>org.pentaho.marketplace.MarketplaceContentGenerator</classname>
        <title>Marketplace</title>
    </content-generator>-->

</plugin>
