require.config({
	baseUrl: './@js.source.dir@',
	paths: {
		jquery: '../@js.common-ui.dirpath.prefix@/common-ui/resources/web/jquery/jquery-1.9.1.min'
	}
});

requirejs(["@js.module.script.app.name@"]);